*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(15deg, #555, #AAB);
}

svg {
    background-color: #fff;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, .2);
}


/* 
rect:hover {
  stroke-width: 1;
  stroke: black;
}

.tooltip {
  fill: #AAA;
}

.tick text {
  font-size: 1.1em;
}

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  font-size: 1.5em;
  fill: #444;
}

#x-axis path, #y-axis path {
  stroke: #978f80;
  visibility: hidden;
} */